<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}Ejercicios{% endblock %}</title>
</head>
<body>
    <header>
        {% block encabezado %}Ejercicio{% endblock %} 
    |</header>
    <main>
        {% block content %}
        <nav>
            <a href="/perfil">Perfil</a>
            <a href="/calcular">calculadora</a>
            <a href="/equipo">equipo</a>
        </nav>
        {% endblock %}
    </main>
    

</body>
</html>